/* common shared style */
body {
    /* font-family: 'Merriweather', serif; */
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #F00;
    text-align: center;

    font-size: 32px;

    font-weight: 600;

    text-transform: capitalize;
}

.banner4-des {
    color: #070211;

    font-size: 32px;

    font-weight: 600;

    text-transform: capitalize;
}

/* body related style */
body {
    background: #FFF;
}

/* header related style */
/* first banner content style */
.banner-first-greeting {
    color: #FFF;
    text-align: center;

    font-size: 32px;

    font-weight: 400;
    padding-top: 240px;


}

.banner-first-tittle {
    color: #FFF;
    text-align: center;

    font-size: 72px;

    font-weight: 900;
    text-align: center;
    padding: 0px 300px 117px 300px;
    margin-top: 10px;

}

/* section related style */
.banner-first {
    background-image: url("../resources/Banner\ Image.png");

    background-repeat: no-repeat;
    border-radius: 16px;
    /* background-size: cover; */
    height: 900px;
    margin: 50px 140px 0 140px;
    background-size: contain;
    border-radius: 16px;
    /* background: linear-gradient( #070211) */
    margin-bottom: 100px;




}

.banner2 {
    text-align: center;
    margin-top: 140px;
    /* margin: 0; */
    /* padding-top: 0; */
    
}

/* second banner content style  */
.banner2-tittle {
    color: #F00;
    /* text-align: center; */
    font-size: 88px;
    font-weight: 700;
    /* margin-bottom: 48px;   */
    /* margin-top: 120px; */


}

.banner2-subtittle1 {
    color: #F00;
    /* text-align: center; */

    font-size: 24px;

    font-weight: 500;
    /* padding-bottom: 48px; */
    /* margin-bottom: 48px; */
    /* margin: 0; */

}

.banner2-subtittle2 {
    color: #070211;
    /* text-align: center; */

    font-size: 48px;

    font-weight: 700;

}

/* third banner related style */
.banner3-tittle {
    color: #FFF;

    font-size: 50px;

    font-weight: 600;

    letter-spacing: 5px;
    padding: 126px 900px 0px 126px;
    margin-bottom: 20px;
}

.banner3-description {
    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;

    font-weight: 400px;
    /* text-align: center; */
    /* align-items: center; */
    padding: 0px 800px 24px 126px;


}

.banner3-butn {
    color: #FFF;


    font-size: 20px;

    font-weight: 700;

    text-transform: uppercase;
    padding: 30px 0px 0px 158px;
    background-color: transparent;
    border: 0;

}

.banner3 {
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    /* background-size: cover; */
    height: 900px;
    margin: 50px 140px 0 140px;
    background-size: contain;
    border-radius: 16px;
    display: flex;
    justify-content: center;


}

.ban3-images {
    margin-top: 140px;
    margin-right: 150px;
}

.banner4 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    height: 500px;
    margin: 50px 140px 0 140px;
    background-size: contain;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
    margin-top: 0px;
}

.banner4-butn {
    color: #FFF;
    text-align: center;

    font-size: 20px;

    font-weight: 700;

    text-transform: uppercase;

    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
}

/* main section related style */


.main-first1 {
    border-radius: 16px;
    /* width: 10px; */
    /* height: 30px; */

}


.picture1 li {
    display: inline;
}

.picture2 li {
    display: inline;
}

.main-first-tittle {
    color: #F00;

    font-size: 24px;

    font-weight: 500;

}

.main-first-subtittle {
    color: #070211;

    font-size: 48px;

    font-weight: 900;

    text-transform: capitalize;
}

.main-first-des {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    padding-right: 500px;

}

.main-first {
    padding-left: 140px;
}

.m-second {
    text-align: center;

    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 500px;
    margin: 50px 140px 0 140px;
    background-size: contain;
    padding-top: 100px;
    margin-top: 100px;
}

.m-second-des {
    padding-right: 212px;
    padding-left: 212px;
}

/* .m-second-in1 {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;

    font-size: 18px;

    font-weight: 400; */

/* } */

/* .m-second-in1 {
    border-radius: 50px;
    background: #FFF;
} */





/* .m-btn button{
    border: 0;
    background-color: transparent;
    /* padding-right: 100px; */
/* right: -70px;
    object-position: left;
    top: 50%;
    margin:0px; */
/* }   */
.m-second-btn {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex;  */
    justify-content: center;
    align-items: center;


}

.m-second-btn label {
    border-radius: 50px;
}

label {

    position: relative;

}

input[type="text"] {
    border: none;
    width: 460px;
    height: 27px;
    padding: 0, 16px;

}

#btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 16px;
    background-color: #F00;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;

}

/* footer related style */
.foot {
    background-color: #070211;
    height: 500px;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;

}


.foot-content1 {
    display: flex;
    /* align-items: center;  */
    text-align: center;
    /* padding-top: 120px;  */
    /* justify-content: center; */
    justify-content: center;
    margin: 30px 10px 40px 10px;
    padding: 10px 0px 50px 0px;


}



.foot-tittle {
    color: #FFF;

    font-size: 24px;

    font-weight: 500;
    /* padding: 120px 700px 0 120px; */
    align-items: center;
    /* padding-right: 630px; */
    /* padding-left: 120px; */
    text-align: left;
    padding-right: 100px;
    margin-right: 100px;
    width: 500px;
    /* padding-left: 140px; */




}

.foot-tittle2 ul {
    margin-left: 100px;
}


.foot-image2 li {
    display: inline;

}

.foot-image2 ul {
    text-align: center;
    padding-top: 20px;
    padding: 48px 0px 48px 0px;
}

.foot-images a {
    text-decoration: none;
}

.foot-final11 {
    color: #FFF;

    font-size: 15px;
    font-weight: 500;

}

.final-btn {
    border: 0;
    background-color: transparent;
    color: #FFF;

    font-size: 15px;

    font-weight: 500;

}

.foot-final {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
}

.foot-images {
    color: #FFF;

    font-size: 24px;

    font-weight: 500;

}
.foot-images li{
    list-style: none;
}

/* line related style */
.primary {
    background: rgba(255, 255, 255, 0.15);
}
.main-first1 li :hover{
    background-color:rgb(132, 4, 90);

}